*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: black;
	color: coral;
}

#breadcrumbs li+li::before{
    content: "\00BB";
    margin-right: 5px;
}

table{
	width:100%;
	text-align: center;
	background-color: #FA01;
 	
 	overflow: hidden;
}
