* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
	color: coral;
}

h1 {
	text-align: center;
}

#breadcrumbs li+li::before {
	content: "\00BB";
	margin-right: 5px;
}

#crudPanel {
	width: 95%;
	border-radius: 20px;
	padding: 15px;
	margin: auto;
}

#crudPanel section {
	padding: 10px;
}

/************** TABLES **************/
table {
	width: 100%;
}

/************** FORMS **************/
form {
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

input[type="submit"], input[type="reset"] {
	width: 39%;
}

form fieldset label {
	width: 19%;
}

form fieldset label input {
	width: 57%;
}

#buttons {
	width: 50%;
}

/************** FANCIFY **************/
.smokedGlass {
	background-color: #FA01;
	box-shadow: 3px 3px #D803;
	text-shadow: 3px 3px #D801;
	backdrop-filter: blur(2.6px);
	-webkit-backdrop-filter: blur(2.6px);
}
