<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Liquid Markets Price Matrix</title>
<link rel="stylesheet" type="text/css" href="/DZLiquidMarketFinTechStyles.css">
<link rel="stylesheet" type="text/css" href="/DZRelishForms.css">
<link rel="stylesheet" type="text/css" href="/DZRelishTables.css">
</head>
<body>
	<h1>Liquid Markets Price Matrix</h1>

	<div id="crudPanel" class="smokedGlass">
		<section class="relishBorder">
			<table class="relish">
				<thead>
					<th>...</th>
					<th th:each="currency : ${matrix.currencies}">
						<span th:text="${currency.name}"></span> <br>
						<span th:text="${currency.units}"></span>
					</th>
				</thead>
				<tbody>
					<tr th:each="index : ${#numbers.sequence(0, #arrays.length(matrix.prices) - 1)}">
						<td th:text="${matrix.assets[index].name}" />
						<td th:each="price : ${matrix.prices[index]}" th:text="${price}"></td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</body>
</html>
